
.btn_primary {
  padding: 12px 38px;
  color: white;
  background-color: $bg_brand_primary;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  transition: .5s;

  &:hover {
    background-color: $text_brand_secondary;
  }
}

.type_h1 {
  font-size: $font_size_h1;
  font-family: $font_headings;
}
.type_h2 {
  font-size: $font_size_h2;
  font-family: $font_headings;
}

.heading_grey {
  color: $text_titles;
}

.text_primary {
  color: $text_brand_primary;
}

.quote {
  font-size: $font_size_big;
  font-family: $font_headings;
}

.text_small {
  font-size: $font_size_small;
}
.text_big {
  font-size: $font_size_big;
}