//colors
$bg_brand_primary: #26AA94;
$bg_brand_secondary: #141423;
$bg_light: #fcf7fb;
$bg_primary_low_opacity: #CFDDDB;

$text_brand_primary: #20AC97;
$text_brand_secondary: #3F3A64; // anche per hover dei btn
$text_titles: #333333; // tutti i titoli grigi
$text_lightgray: #ebe9ed;
$text_midgray:#bbbcbd;
$text_gray: #9aa2a6;

// backgroundImage
$header_bg_img: "../assets/background-pattern-wavify.png";
$hero_img_bg_: "../assets/home-movation-shape-face-600x534.png";

//spacing
$padding_s: 25px;
$padding_m: 35px;
$padding_l: 65px;
$padding_xl: 85px;

//font sizes
$font_size_default: 16px;
$font_size_small: 14px;
$font_size_big: 18px;
$font_size_h1: 50px;
$font_size_h2: 40px;

//font family
$font_default: Open Sans;
$font_headings: Playfair Display;


