
$bg_brand_primary: #26AA94;
$bg_brand_secondary: #141423;
$bg_light: #fcf7fb;
$bg_primary_low_opacity: #CFDDDB;

$text_brand_primary: #20AC97;
$text_brand_secondary: #3F3A64; // anche per hover dei btn
$text_titles: #333333; // tutti i titoli grigi
$text_lightgray: #ebe9ed;
$text_midgray:#bbbcbd;
$text_gray: #9aa2a6;